
@media(min-width: 400px){

body {
  height: 100%;
  margin: 0px;
}
.container{

 display: flex;
  height: 100%;
  position: absolute;
  
  background-color: #006666;


}
.container div{
	margin: 0px;
	border:1px #ccc solid;
	
	

	
}

.leftcolumn{	
	background-color:#664d00;
	flex: 2;
}
.rightcolumn{
	
	
	flex:19;
	
}
.rightcolumn div{
	height: 33%;
	background-color:#664d00;
	
	
}
.about{
		
	display: flex;
	

}
.about div{
	
	height: 100%;
	width: 50%;	
	
}
.objective{

}
.img{
	background-image: url(2.jpg);
	width: 100px;
	height: 100px;
	background-repeat: no-repeat;
}

.portfolio{
	

}

.contact{


}


	}
	

