


.Info{
	border: 1px #ccc solid;
	width:20%;
	height: 100%;
	position: absolute;

}


.about{
	display: flex;

	/*
	align-items: flex-start;
	align-items: flex-end;
	align-items: flex-center;
	flex-direction: column;*/
	justify-content: flex-start;
	
}
.about div{
	border:1px #ccc solid;
	padding: 10px;
	flex :wrap;
}


.objective{
	flex:4;
	
}

.img{
	flex:6;
	
}