
@media(min-width: 400px){

body {
  height: 100%;
  margin: 0;
}
.container{

 display: flex;
  height: 100%;
  margin:0;
  position: absolute;
  	background-color: #006666;


}
.container div{
	margin:0;
	border:1px #ccc solid;
	padding: 10px;
	
}


.leftcolumn{
	
	flex: 2;
}


.rightcolumn{
	 justify-content: space-between;
	flex:19;

	
	
}
.about{
	height: 33%;
}
.portfolio{
	height: 33%;
}

.contact{
	height: 33%;
}


	}
	

